#EntryPopupContainer {
    position: fixed;
    font-size: 16px;
    z-index: 9990;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#entryCategoryai_utilize, #entryCategoryexpansion, #entryCategoryarduino {
    display: none;
}

