<link rel="stylesheet" href="/rookie/ckeditor-cdn/ckeditor5.css">
<link rel="stylesheet" href="/rookie/css/viewer/style.css">
<script type="module" src="/rookie/js/viewer/app.mjs"></script>

<div class="main-container">
	<div id="documentContainer"
		class="class=ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred" lang="ko"
		dir="ltr" role="textbox" contenteditable="false">

	</div>
</div>