<link rel='stylesheet' href='/rookie/css/ckeditor5/style.css' />
<link rel="stylesheet" href="/rookie/ckeditor-cdn/ckeditor5.css">

<script type="importmap">
	{
		"imports": {
			"ckeditor5": "/rookie/ckeditor-cdn/ckeditor5.js",
			"ckeditor5/": "/rookie/ckeditor-cdn/"
		}
	}
</script>
<script type="module" src="/rookie/js/ckeditor5/app.mjs"></script>

<div class="main-container">
	<div class="editor-container editor-container_classic-editor" id="editor-container">
		<div class="editor-container__editor">
			<div id="editor"></div>
		</div>
	</div>
</div>