<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
  <link rel="stylesheet" href="/rookie/css/common.css">

	<link href="https://codersit.co.kr/theme/daontheme_business03/html/css_js/font.css" rel="stylesheet" type="text/css">
	<link rel='stylesheet' href="https://codersit.co.kr/coders/research/bootstrap/css2/bootstrap.css" />	
	<script src="https://codersit.co.kr/coders/research/jquery/jquery-3.4.1.min.js"></script>	
	<script src="https://codersit.co.kr/coders/research/bootstrap/js2/bootstrap.bundle.min.js"></script>
	<script type="module" src="/rookie/js/problemForm.js"></script>
	<script>
		const problemKey = <%- problemKey %>;
	</script>
	<style>
		html, body { height: 100%; overflow: hidden; font-family: 'Noto Sans KR', sans-serif; }
		.svg-button { cursor: pointer; transition: fill 0.2s; margin: 0 0.3rem; }
		.svg-button:hover { fill: #999999; }
		.indicator { margin: 0 0.4rem; }
		.indicator-selected { fill: #FAFAFA; }
		.no-drag { user-select: none; }
		#btnSubmit { height: 1.5rem; font-size: 0.8rem; font-weight: 600; color: #555555; border: none; border-radius: 1rem; background-color: #FEFEFE; transition: all 0.2s; }
		#btnSubmit:hover { background-color: #29c45c; color: #FEFEFE; }
		#btnExit { height: 1.5rem; font-size: 0.8rem; font-weight: 600; color: #555555; border: none; border-radius: 1rem; background-color: #FEFEFE; transition: all 0.2s; }
		#btnExit:hover { background-color: #e25555; color: #FEFEFE; }
		label { font-size: 1.2rem; font-weight: bold; }
		table { font-size: 1rem; white-space: nowrap; }
	</style>
</head>

<body>
	<div class="d-flex flex-row h-100 w-100">
		<div id="left" class="d-flex flex-column" style="min-width: 1024px; width: 65%;">

			<div class="top-nav d-flex flex-row justify-content-between align-items-center"
				style="height: 3rem; padding: 0.3rem 0; background-color: #4f80ff;">
				
				<!-- 좌측 네비게이터 -->
				<div class="top-nav-left w-25 d-flex flex-row justify-content-start" style="padding: 0 0.3rem;">
					<svg id="btnPrev" class='svg-button' xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="1.5rem" viewBox="0 0 24 24" width="1.5rem" fill="#FEFEFE">
						<g><rect fill="none" height="24" width="24" /></g>
						<g><path d="M2,12c0,5.52,4.48,10,10,10s10-4.48,10-10c0-5.52-4.48-10-10-10C6.48,2,2,6.48,2,12z M12,11l4,0v2l-4,0l0,3l-4-4l4-4L12,11 z" /></g>
					</svg>

					<div style="border-right: 1px solid #FAFAFA; height: 1rem; margin: auto 0.5rem"></div>
					<button id="btnExit" class="no-drag">Cancel</button>
				</div>
				<!-- /좌측 네비게이터 -->

				<!-- 중앙 네비게이터 -->
				<div class="top-nav-mid w-50 d-flex flex-column align-items-center h-100">
					<div class="nav-title h-75 d-flex flex-column justify-content-center pb-1">
						<span id="navTitle" class="no-drag" style="font-size: 1.2rem; color: #FFFFFF; font-weight: 600;"></span>
					</div>
					<div class="nav-indicator h-25 d-flex flex-row justify-content-between"></div>
				</div>
				<!-- /중앙 네비게이터 -->

				<!-- 우측 네비게이터 -->
				<div class="top-nav-right w-25 d-flex flex-row justify-content-end" style="padding: 0 0.3rem;">
					<div class="util-box d-flex flex-row">

						<div id="loadEnt" class="d-none">
							<input id="fileInput" class="d-none" type="file" name="file" accept=".ent" />
							<svg id='btnLoadEnt' class='svg-button' xmlns="http://www.w3.org/2000/svg"
								enable-background="new 0 0 24 24" height="1.5rem" viewBox="0 0 24 24" width="1.5rem" fill="#FEFEFE">
								<g>
									<rect fill="none" height="24" width="24" />
									<path
										d="M20,6h-8l-2-2H4C2.9,4,2.01,4.9,2.01,6L2,18c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2V8C22,6.9,21.1,6,20,6z M14,16H6v-2h8V16z M18,12H6v-2h12V12z" />
								</g>
							</svg>
						</div>

						<div id="resetEnt" class="d-none">
							<svg id="btnResetEnt" class='svg-button' xmlns="http://www.w3.org/2000/svg" height="1.5rem"
								viewBox="0 0 24 24" width="1.5rem" fill="#FEFEFE">
								<path d="M0 0h24v24H0z" fill="none" />
								<path d="M0 0h24v24H0V0z" fill="none" />
								<path
									d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
							</svg>
						</div>

						<div id="rollbackEnt" class="d-none">
							<svg id='btnRollbackEnt' class='svg-button' xmlns="http://www.w3.org/2000/svg" height="1.5rem"
								viewBox="0 0 24 24" width="1.5rem" fill="#FEFEFE">
								<path d="M0 0h24v24H0z" fill="none" />
								<path
									d="M12 5V1L7 6l5 5V7c3.31 0 6 2.69 6 6s-2.69 6-6 6-6-2.69-6-6H4c0 4.42 3.58 8 8 8s8-3.58 8-8-3.58-8-8-8z" />
							</svg>
						</div>

					</div>

					<div style="border-right: 1px solid #FAFAFA; height: 1rem; margin: auto 0.5rem"></div>

					<button id="btnSubmit" class="no-drag">Finish</button>

					<div style="border-right: 1px solid #FAFAFA; height: 1rem; margin: auto 0.5rem"></div>

					<svg id="btnNext" class='svg-button' xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
						height="1.5rem" viewBox="0 0 24 24" width="1.5rem" fill="#FEFEFE">
						<g>
							<rect fill="none" height="24" width="24" />
						</g>
						<g>
							<path
								d="M22,12c0-5.52-4.48-10-10-10S2,6.48,2,12c0,5.52,4.48,10,10,10S22,17.52,22,12z M12,13l-4,0v-2l4,0V8l4,4l-4,4V13z" />
						</g>
					</svg>
				</div>
				<!-- /우측 네비게이터 -->
				 
			</div>

			<div class="flex-grow-1 no-drag">
				
				<!-- 문제 정보 편집 페이지 -->
				<div id="infoEditor" class="h-100">

					<div style="height: 2.4rem; background-color: #4f80ff;"></div>

					<div style="max-width: 800px; width: 60%; height: fit-content; margin: 5rem auto;">
						<form class="row">

							<div class="col-12 mb-1 d-flex justify-content-between">
								<label for="inputTitle">문제 이름</label>
								<div class="d-flex">
									<div id="publicState" style="margin-right: 0.6rem; font-size: 0.9rem;">비공개</div>
									<div class="form-check form-switch">
										<input id="swPublicChange" class="form-check-input" type="checkbox" role="switch">
									</div>
								</div>
							</div>
							<div class="col-md-8">
								<input type="text" class="form-control" id="inputTitle" autocomplete='off'>
							</div>
							<div class="col-md-4">
								<select id="inputLevel" class="form-select">
									<option selected>난이도</option>
									<option value="1" style="color: #51050F;">LV. 1</option>
									<option value="2" style="color: #AB6D23;">LV. 2</option>
									<option value="3" style="color: #F78812;">LV. 3</option>
									<option value="4" style="color: #E02401;">LV. 4</option>
									<option value="5" style="color: #EA1179;">LV. 5</option>
									<option value="6" style="color: #9F0D7F;">LV. 6</option>
									<option value="7" style="color: #241468;">LV. 7</option>
								</select>
							</div>

							<label class="col-12 mt-5 mb-1">태그</label>
							<div class="col-12">

								<div class="input-group mb-3">
									<input id="inputAddTag" type="text" class="form-control" placeholder="태그 이름을 입력해주세요"
										aria-describedby="button-addon2" autocomplete='off' onkeydown="if(event.key === 'Enter') document.getElementById('btnAddTag').click();">
									<button id="btnAddTag" class="btn btn-outline-secondary" type="button">추가</button>
								</div>

							</div>
							<div class="col-12 mt-1" style="display: block; height: 30rem; overflow-y: auto;">
								<table class="table">
									<thead>
										<tr>
											<th scope="col" style="width: 10%;">#</th>
											<th scope="col" style="width: 75%; text-align: center;">태그 이름</th>
											<th scope="col" style="width: 15%; text-align: center;">-</th>
										</tr>
									</thead>
									<tbody id="tagList">

									</tbody>
								</table>
							</div>
						</form>

					</div>

				</div>
				<!-- /문제 정보 편집 페이지 -->

				<!-- 엔트리 -->
				<iframe id="entry" src="/rookie/component/workspace" frameborder="0" class="h-100 w-100"></iframe>
				<!-- /엔트리 -->

			</div>
		</div>

		<!-- 리사이저 -->
		<div id="resizer" class="h-100"
			style="background-color: #FAFAFA; border: #DDDDDD solid 1px; cursor: col-resize; min-width: 16px; max-width: 16px;">
			<svg xmlns="http://www.w3.org/2000/svg" width="80%" height="100%" viewBox="0 0 24 24" fill="#AAAAAA">
				<rect x="8" y="5" width="3" height="32" rx="1" stroke="#AAAAAA" stroke-linecap="round" />
				<rect x="17" y="5" width="3" height="32" rx="1" stroke="#AAAAAA" stroke-linecap="round" />
			</svg>
		</div>
		<!-- /리사이저 -->

		<div id="right" class="d-flex flex-grow-1" style="background-color: #dddddd; overflow: hidden">
			<!-- 에디터 -->
			<div class="h-100 w-100 no-drag">
				<iframe id="editor" src="/rookie/component/documentEditor" frameborder="0" class="h-100 w-100"></iframe>
			</div>
			<!-- /에디터 -->

		</div>
	</div>

  <%- include('../modals/alert') %>
  <%- include('../modals/confirm') %>
</body>

</html>