<link rel='stylesheet' href='/css/ckeditor5/style.css' />
<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.0.0/ckeditor5.css">
<script type="module" src="/js/ckeditor5/app.mjs"></script>

<div class="main-container">
    <div class="editor-container editor-container_classic-editor" id="editor-container">
        <div class="editor-container__editor">
            <div id="editor"></div>
        </div>
    </div>
</div>
