<footer>
  <section id="footer">
    <div class="copy_bar">
      <div>
        <p class="copy_menu"><a href="https://codersit.co.kr/content/privacy">개인정보처리방침</a>  &nbsp;&nbsp;&nbsp; <a href="https://codersit.co.kr/content/provision">이용약관</a> &nbsp;&nbsp;&nbsp; <a href="https://codersit.co.kr/notice" alt="공지사항" title="공지사항">공지사항</a> &nbsp;&nbsp;&nbsp; <a href="https://codersit.co.kr/open/license.html">라이센스</a></p>
      </div>
    </div>
    <div class="copy_area">
      <div class="copyright">
        <p>
          <span>코더스아이티</span>
          <span>대표 : 류성욱</span>
          <span>주소 : 대구광역시 수성구 (범어동) 달구벌대로 2527, 손샘빌딩 8층</span>
          <span>사업자등록번호 : 564-42-00203 등록번호 : 제5405호(수성구) 제2021-45호(달서구) <a href="/edufees">교습비</a></span><br class="pc_br">
          
          <span>TEL : 053-719-3434, 053-716-3432</span>
          <span>FAX : 070-8244-3433</span>
          <span>개인정보책임관리자 : 류성욱</span>
          <span>이메일 : sunguk.ryu@codersit.co.kr</span><br class="pc_br">
          <span>Copyright 2024 CodersIT All Rights Reserved.</span>
        </p>
      </div>
    </div>
  </section>
</footer>
<style>
  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    position: relative;
    padding-bottom: 230px;
  }
  #footer {
    position: absolute;
    bottom: 0;
    font-size: 0.85rem;
    clear: both;
    width: 100%;
    margin: 0;
    padding-bottom: 70px;
    border-top: 1px solid #ddd;
    background-color: #FAFAFA;
    color: #888;
  }
  #footer a {
    text-decoration: none;
    color: #888;
  }
  #footer a:hover {
    color: #fd7701;
  }
  #footer span {
    margin-right: 15px;
  }
  .copy_menu {
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }
  .copy_area {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
  }
  .copyright {
    width: 100%;
    text-align: center;
    padding: 0;
  }
</style>